<template>
  <div class="home_container"><% if(!isMobile){%>
    <span style="font-size:60px; line-height:160px;">home</span><%} %><% if(isMobile){%>
    <div class="home_swiper_container swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(item,index) of sliderList" :key="index">
          <component
            :is="item.component"
            :text="`Slide ${index+1}`"
            :bgColor="`rgb(${220-index*10},${220-index*10},${220-index*10})`"
          ></component>
        </div>
      </div>
    </div>
    <div class="tab_bar">
      <div
        class="item"
        v-for="(item,index) of sliderList"
        :key="index"
        @click="swiperIndex=index"
        :class="swiperIndex===index? 'active': ''"
      >
        <a-icon class="icon" :type="item.icon" />
        <span class="label">{{ item.name }}</span>
      </div>
    </div><%} %>
  </div>
</template>
<script><% if(isMobile){%>
import exampleSlide from "@/components/examples/exampleSlide";
import example1 from "@/components/examples/example1";

<%} %>export default {<% if(isMobile){%>
  computed: {
    swiperIndex: {
      get() {
        if (!this.homeSwiper) return 0;
        return this.homeSwiper.activeIndex;
      },
      set(index) {
        this.homeSwiper.slideTo(index, 0, false);
      },
    },
  },
  data() {
    return {
      homeSwiper: null,
      sliderList: [
        { name: "1", icon: "android", component: "example1" },
        { name: "2", icon: "apple", component: "exampleSlide" },
        { name: "3", icon: "qq", component: "exampleSlide" },
      ],
    };
  },
  mounted() {
    this.homeSwiper = new this.$Swiper(".home_swiper_container", {
      lazy: true,
      on: {
        slideChangeTransitionEnd: (swiper) => {
          this.swiperIndex = swiper.realIndex;
        },
      },
    });
    console.log("this.homeSwiper", this.homeSwiper);
  },
  components: { exampleSlide, example1 },<%} %>
};
</script>
<style lang="less" scoped>
.home_container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(240, 240, 240);<% if(isMobile){%>
  display: flex;
  flex-direction: column;
  .home_swiper_container {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }
  .tab_bar {
    display: flex;
    background-color: #fff;
    .item {
      flex: 1;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .icon {
        font-size: 20px;
      }
      &.active {
        color: blue;
      }
    }
  }<%} %>
}
</style>